@import "tailwindcss";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}
*/

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fjalla: 'Fjalla One', sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-fjalla {
  font-family: var(--font-fjalla);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para inputs datetime-local */
.input-datetime::-webkit-datetime-edit-text,
.input-datetime::-webkit-datetime-edit-month-field,
.input-datetime::-webkit-datetime-edit-day-field,
.input-datetime::-webkit-datetime-edit-year-field,
.input-datetime::-webkit-datetime-edit-hour-field,
.input-datetime::-webkit-datetime-edit-minute-field,
.input-datetime::-webkit-datetime-edit-second-field,
.input-datetime::-webkit-datetime-edit-ampm-field {
  color: #D9D9DB;
  opacity: 0.8;
}

.input-datetime::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(20%) saturate(300%) hue-rotate(350deg);
  opacity: 0.8;
}

.input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(38%) sepia(10%) saturate(300%) hue-rotate(350deg);
  opacity: 0.7;
}
